body {
  padding-top: 50px;
}
.container-tablas-competencias {
  padding: 0;
}
.table-competencias {
  text-align: center;
  vertical-align: middle;
  margin-top: 100px;
}
.table-competencias .categoria-competencias {
  width: 20%;
  vertical-align: middle;
}
.titulo-competencias {
  text-align: center;
  vertical-align: middle !important;
  height: 80px;
}
