<table id="uno" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <!-- Puesto Actual -->
      <th class="titulo-competencias">07 - Inspector de Embarques ICEs</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  0 </td></tr>
  </tbody>
</table>

<table id="dos" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">07 - Out of Yield Grader - Scrap VII</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  0 </td></tr>
  </tbody>
</table>

<table id="tres" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">07 - Clasificador</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  0 </td></tr>

  </tbody>
</table>

<table id="cuatro" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">07 - Inspector de Procesos</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>

  </tbody>
</table>

<table id="cinco" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">08 - Técnico de Uniformidad</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
  </tbody>
</table>

<table id="seis" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">08 - Técnico de Laboratorio</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
  </tbody>
</table>

<table id="siete" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">08 - Sobreinspector de Proceso</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  0 </td></tr>
  </tbody>
</table>

<table id="ocho" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">09 - Ingeniero de Calidad</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
  </tbody>
</table>

<table id="nueve" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">09 - Ingeniero CTD</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
  </tbody>
</table>

<table id="diez" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">10 - Líder de Equipo Original</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
  </tbody>
</table>

<table id="once" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">10 - Ingeniero de Calidad</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>

  </tbody>
</table>

<table id="doce" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">11 - Jefe de Laboratorio</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
  </tbody>
</table>

<table id="trece" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">11 - Jefe de Uniformidad</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  1 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
  </tbody>
</table>

<table id="catorce" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">11 - Líder de Ingeniería de Calidad</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
  </tbody>
</table>

<table id="quince" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">12 - Gerente de Yield</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
  </tbody>
</table>

<table id="dieciseis" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">13 - Gerente de Calidad</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  5 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  0 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  2 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  4 </td></tr>
    <tr><td>  3 </td></tr>
    <tr><td>  4 </td></tr>
  </tbody>
</table>

<table id="diecisiete" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">12 - Gerente de Ingeniería de Procesos</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
  </tbody>
</table>

<table id="dieciocho" class="table table-responsive table-striped table-competencias">
  <thead>
    <tr>
      <th class="titulo-competencias">12 - Gerente Business Team</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
    <tr><td>  NA  </td></tr>
  </tbody>
</table>